main {
    position: relative;
}

.hero_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10em;
    gap: 2em;
}

.hero_left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    justify-content: center;
}

.hero_left h1 {
    font-family: var(--Font_2);
    font-size: 3.5em;
    line-height: 1.1;
    color: var(--Black);
}

.hero_left p {
    font-family: var(--Font_1);
    font-size: 1.1em;
    color: var(--Gray);
}

.hero_button_container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
    margin-top: 1em;
}

@media (width < 400px) {
    .hero_button_container {
        flex-direction: column;
    }
}

.hero_button {
    background-color: var(--Light_Gray) !important;
    padding: var(--Primary_Button_Padding);
    border-radius: var(--Primary_Border_Radius);
    font-family: var(--Font_1);
    font-size: 1.1em;
    color: var(--Black);
}

.wellness_section {
    position: relative;
}

.wellness_container {
    padding-top: 10em;
}

.wellness_title p {
    font-family: var(--Font_1);
    font-size: 1.3em;
    text-align: center;
}

.wellness_title h1 {
    font-family: var(--Font_2);
    font-size: 2.5em;
    text-align: center;
    color: var(--Black);
}

.wells_div {
    padding-top: 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 2em;
}

.wells {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.wells h3 {
    font-family: var(--Font_2);
    font-size: 1.3em;
    color: var(--Black);
    text-align: center;
}

.wells h3 {
    font-family: var(--Font_2);
    font-size: 1.3em;
    color: var(--Black);
    text-align: center;
}

.a {
    height: 100vh;
}

@media (width < 1000px) {
    .hero_left h1 {
        font-size: 3em;
    }
}

@media (width < 800px) {
    .hero_container {
        grid-template-columns: 1fr;
    }

    .hero_left h1,
    .hero_left p,
    .hero_button_container {
        margin: auto;
        text-align: center;
    }
}

@media (width < 600px) {
    .hero_left h1 {
        font-size: 2.2em;
    }

    .hero_left p,
    .hero_button {
        font-size: 1em;
    }
}
