main {
    position: relative;
}

.hero_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: var(--Container_Padding_Top);
    gap: 2em;
}

.hero_left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    justify-content: center;
}

.hero_left h1 {
    font-family: var(--Font_2);
    font-size: 4em;
    line-height: 1.1;
    color: var(--Black);
}

.hero_left p {
    font-family: var(--Font_1);
    font-size: 1.1em;
    color: var(--Gray);
}
