html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;

    background-color: var(--White);
}

img,
video {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: Font_1;
    src: url(Fonts/Google_Sans_Regular.ttf);
}
@font-face {
    font-family: Font_2;
    src: url(Fonts/Google_Sans_Bold.ttf);
}

:root {
    /* Colors */
    --Primary_Dark: rgb(62, 58, 141);
    --Primary: rgb(108, 99, 255);
    --Black: rgb(5, 5, 5);
    --Gray: rgb(109, 109, 109);
    --Light_Gray: rgb(167, 167, 167);
    --White: rgb(250, 250, 250);

    /* Fonts */
    --Font_1: Font_1, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --Font_2: Font_2, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    /* Others */
    --Max_Width: min(100em, 100%);
    --Main_Width: 90%;
    --Container_Padding_Top: 8em;
    --Primary_Border_Radius: 0.8em;
}

.MAX {
    margin: auto;
    width: var(--Max_Width);
}
.MAIN {
    margin: auto;
    width: var(--Main_Width);
}
