html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@font-face {
    font-family: Kumbh_Sans_Regular;
    src: url(Fonts/Kumbh_Sans_Regular.ttf);
}
@font-face {
    font-family: Raleway_Thin;
    src: url(Fonts/Raleway_Thin.ttf);
}

:root {
    /* Colors */
    --Primary_Dark: rgb(78, 72, 180);
    --Primary: rgb(108, 99, 255);
    --Black:rgb(5, 5, 5);
    --Light: rgb(130, 130, 130);

    /* Fonts */
    --Kumbh_Sans_Regular: Kumbh_Sans_Regular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --Raleway_Thin: Raleway_Thin, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Others */
}
